<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>D&D Character Creation</title>
    </head>
    <body>
        <h1>Welcome to CharacterForge!</h1>
        <p>
            This web application helps you create new D&D characters with ease
            using the Open5e public API.
            Follow the steps below to create your character:
        </p>
        <ol>
            <li>Start by selecting a race on the Race
                Selection page.</li>
            <li>Next, choose a class on the Class
                Selection page.</li>
            <li>Then, select a background on the Background Selection page.</li>
            <li>Finally, review your character on the Character Review
                page.</li>
            <a href="/races"><button type="button">Begin!</button></a>
        </ol>
    </body>
</html>